[submodule "specs/c/test-runner"]
	path = tests/c/test-runner
	url = https://github.com/jonruttan/test-runner.git
[submodule "ext/x-expr"]
	path = ext/x-expr
	url = https://github.com/jonruttan/x-expr.git
